\cmake-build-debug\*
\.idea\*
\*.exe

/cmake-build-debug/*
/.idea/*
/*.exe
/*.o
CMakeLists.txt
.vscode/settings.json
TP1/punto3.o
TP2/output.csv
/TP1/punto1.exe
/TP1/punto3.exe
/TP1/test.exe
TP2/output.png
